<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="xin.yiliya" />

    <!--引入属性文件-->
    <context:property-placeholder location="classpath:/properties/aliyun.properties"  />

    <import resource="spring-tang.xml" />
    <import resource="spring-hong.xml" />
    <import resource="spring-wang.xml" />

    <!--配置阿里云操作OSS客户端-->
    <bean id="ossClient" class="com.aliyun.oss.OSSClient">
        <constructor-arg name="endpoint" value="${Endpoint}" />
        <constructor-arg name="accessKeyId" value="${AccessKeyID}" />
        <constructor-arg name="secretAccessKey" value="${AccessKeySecret}" />
    </bean>
    <bean id="aliOssTool" class="xin.yiliya.tool.AliOssTool" />

    <bean id="putObjectProgressListener" class="xin.yiliya.tool.PutObjectProgressListener" scope="prototype" />

    <bean id="getObjectProgressListener" class="xin.yiliya.tool.GetObjectProgressListener" scope="prototype" />
</beans>